.login{
  display : flex;
  flex-direction :column;
  align-items : center;
}
.login_logo {
  position : absolute;
  margin-top : 20px;
  width : 25%;
  object-fit:contain;
  margin-right : auto;
  margin-left :-170px;
  top : 0;
  filter :brightness(100);
}
.login_container{
  top : 300px;
  position : absolute;
  width : 300px;
  height : fit-content;
  display : flex;
  flex-direction : column;
  border-radius : 30px;
  border : 1px solid lightgray;
  padding : 20px;
  backdrop-filter: blur(5px);
}
.login_container > h1{
  font-weight : 500;
  margin-bottom : 20px;
}
.login_container > form > h5{
  margin-bottom : 5px;
  font-size : 15px;
}
.login_container > form > input{
  height : 30px;
  margin-bottom : 10px;
  background-color: white;
  width : 98%;
  border-radius : 25px;
  font-size : 15px;

}
.login_container > p{
  margin-top : 15px;
  font-size : 12px;
  font-weight : bold;
}
.signIn_button{
  background : rgb(90, 139, 90);
  border : 2px;
  width : 100%;
  height : 30px;
  border : 1px solid;
  margin-top : 10px;
  border-color : #a99734 #9c73e1 #846a29;
  font-size : 12px;
  border-radius : 18px;   
}
.back_image{
  z-index:-1;
  width : 100%;
  position :relative;
  object-fit :cover;
  filter : brightness(0.7);
}
.register_button{
  margin-top : 10px;
  background-color: #a99734;
  border : 1px solid;
  border-radius : 10px;
  font-weight : bold;
}
