.home{
  display : flex;
  flex-direction :column;
  margin-left : auto;
  margin-right : auto;
  max-width : 1500px;
  width : 100%;
  position : relative;
}
.home_container{
  width : 100%;
  overflow : hidden;
  position : relative;
  z-index: -2;
  display : flex;
  flex-direction :column;
  justify-content : space-evenly;
}
.home_row{
  margin-top : 50px;
  width : 100%;
  display :flex;
  z-index : 2;
  margin-left: 5px;
  margin-right : 5px;
  position :relative;
}
.home_image{
  width: 100%;
  filter : brightness(0.6);
  z-index : 1;
  mask-image : linear-gradient(to bottom, rgb(75, 118, 42),rgb(76, 122, 56));
  object-fit :fill;
  padding : 0;
  margin-bottom : -50px;
}

